REACT_APP_SUPABASE_URL=https://ierviwtmdqerdmwtnimn.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllcnZpd3RtZHFlcmRtd3RuaW1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3NzUxMjEsImV4cCI6MjA5OTM1MTEyMX0.ctxME4L-thcCsC7oD8HL1C2QVx7vnXRy8GQ3WKV50LM
REACT_APP_STRIPE_PUBLIC_KEY=pk_live_51RNz1kCLMcbkI3zLkvpJBeuwcrjwTqWJHOdlBzXILNJtTjNzxTvjjfYxTtHqqV9YZxHNB4MVIV21WWBJHjSJOYCe0072MS0xFz
REACT_APP_SITE_URL=https://agrenes.co.uk



















